article {

  table {
    width: 100%;
    border-collapse: collapse;

  }

  tr {
    border: 1px solid #282828;
  }

  td,
  th {
    padding: 0.5rem;
    text-align: left;
  }

}

/* doing some evil font overriding stuff */
.avenir,
.serif {
  font-family: var(--font-inter-variable) !important;
}

.athelas {
  font-family: var(--font-anton) !important;
}



/** headlines */
h1,
h2,
h3 {
  text-transform: uppercase;
}

/** tachyon overrides */
.measure-wide {
  max-width: 60rem;
}